body {margin:0;}

.navbar {
overflow: hidden;
background-color: #353333;
position: fixed;
top: 0;
width: 100%;
}

.navbar a.logo {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
font-weight: bold;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar a.alignL {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}


.navbar a.alignL:hover {
text-decoration: underline;
}

.navbar a.alignR {
float: right;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar a.alignR:hover {
background: #ddd;
color: black;
}

.main {
padding: 16px;
margin-top: 30px;
height: 1200px; 
}

.main button{
  color: #000000;
  background-color: #fbfbfb;
  font-size: 24px;
  border-radius: 10%;
}

.main button:hover{
    color: #fbfbfb;
    background-color: #000000;
    border: 2px solid #fbfbfb;
}

.main button{
  color: #000000;
  background-color: #fbfbfb;
  font-size: 12px;
  border-radius: 10%;
}

.pre {
  font-family: Roboto;
}